<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Post</h1>
    </div>
</div>
<div class="topcoat-list__container scroller" style="top:70px;">
    <div class="topcoat-textarea">
    <h3>  <%= title %>  </h3> <br>
    <% if (img) { %>
        <div > <img class="resp-img" src="img/<%= img %>" > </div>
    <% } %>
    <br>
    <% if (video) { %>
        <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="<%= video %>" frameborder="0" allowfullscreen></iframe>
        </div>
    <% } %> 
    <br>
    <div>
        <%= text %>
    </div>
    <%if (quiz) { %>
        <a class="topcoat-button" href="#quiz/<%= quiz %>">Quiz</a>
    <% }%>
</div>
</div>
